body{
    display:grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header header"
                          "nav nav  nav nav"
                          "main main aside aside"
                          "footer footer footer footer";

                          
                          
}
header{
    grid-area: header;
    background-color: blue ;
    color: aliceblue;
    font-size: x-large;
    padding: 20px;
}
main{

    grid-area: main;
    background-color: rgb(29, 29, 141);
    color: white;
    
    
}
aside{
    
    grid-area: aside;
    background-color: #87f587;
}
nav {
    display:inline;
    grid-area: nav;
    background-color:yellow;
    padding: 3em;
    
}
nav a{
    margin-left: 15%;
    margin-right: 15%;
}
footer{
    grid-area: footer;
    background-color:green;
    color: yellow;
}