body{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "header header nav nav"
                         "main main main aside "
                         "footer footer footer footer";
    
    
}
header{
    grid-area: header;
    background-color: blue ;
    color: aliceblue;
    font-size: x-large;
    padding: 1em;
}
main{
    grid-area: main;
    background-color: rgb(29, 29, 141);
    color: white;
}
aside{
    
    grid-area: aside;
    background-color: #87f587;
}

nav {
    grid-area: nav;
    background-color:yellow;
    padding-top: 2em;
    
}
nav a{
    margin-left: 10%;
    margin-right: 10%;
}
footer{
    grid-area: footer;
    background-color:green;
    color: yellow;
    padding: 1em;
}